nav {
	background-color: #202328;
}
nav .layout li a:hover {
	color: #202328;
	background-color: #51d081;
}
nav .layout li a.active {
	color: #202328;
	background-color: #51d081;
}
nav .layout input {
	background-color: #444;
}

/*主体*/
main {
	height: calc(100% - 9vh - 8vh);
	color: #202328;
	background-color: #f3f3f3;
}
main h1 {
	padding-top: 10vh;
	padding-bottom: 4vh;
	font-size: 5.4vh;
	letter-spacing: 2vh;
	text-align: center;
}
main .songCD-name {
	margin-bottom: 8vh;
	display: flex;
	justify-content: center;
}
main .songCD-name li {
	margin: 0 4vh;
}
main .songCD-name a {
	font-size: 2.2vh;
	color: #202328;
	opacity: .8;
}
main .songCD-name a:hover {
	color: #42c473;
}
main .songCD-name a.active {
	color: #42c473;
}
/*箭头*/
.next {
	position: absolute;
	font-size: 8vh;
	opacity: .2;
	display: none;
	cursor: pointer;
}
main .layout .icon-left {
	left: -7vh;
	top: 16vh;
}
main .layout .icon-right {
	right: -7vh;
	top: 16vh;
}
main:hover span.next {
	display: block;
}
main .layout span.iconfont:hover {
	opacity: .6;
}
/*歌单图文*/
main .layout .box {
	position: relative;
	height: 42vh;
	overflow: hidden;
}
main .layout ul {
	position: absolute;
	overflow: hidden;
}
main .layout li {
	float: left;
	height: 42vh;
	width: 34vh;
	margin: 0 1.6vh;
	text-align: left;
}

main .layout li .img {
	height: 34vh;
	background-size: cover;
	background-position: center center;
}
main .layout li p {
	margin-top: 2.6vh;
	font-size: 2.4vh;
	color: #202328;
}

/*底部*/
footer {
	height: 8vh;
	background-color: #202328;
	text-align: center;
}
footer div {
	font-size: 1.4vh;
	opacity: .4;
	line-height: 8vh;
}

/*共同样式*/
@media (max-width: 700px){
	main > h1 {
		padding-top: 5vh;
		padding-bottom: 2vh;
		font-size: 4vh;
		letter-spacing: 2vh;
	}
	main .songCD-name {
		margin-bottom: 4vh;
	}
	main .layout ul {
		height: 42vh;
	}
	main .layout li {
		height: 42vh;
		width: 40vw;
	}

	main .layout li .img {
		height: 36vh;
		background-size: cover;
		background-position: center center;
	}
	main .layout span.iconfont {
		display: block;
	}
}
